*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}

nav{
    display: flex;
    background-color: rgba(128, 128, 128, 0.336);
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
}

li div{
    display: inline-block;
}

li{
  list-style-type: none;  
  margin-left: 1.5rem;
  display: inline
}
a{
    text-decoration: none;
    
}

#aboutContainer{
    display: flex;
}

#aboutContainer div{
    padding: 5px;
    margin: 10px;
    background-color:rgba(128, 128, 128, 0.274);
}

.text_fixed{
    width: 15rem;
}

#result{
    position: absolute;
    width: 40rem;
    height: 10rem;
    background-color: gray;
    
   
}
#search {
    width: 35rem;
    display: inline;
}
